doctype html
html(ng-app="memeGenerator")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="angular/angular.min.js")
    script(src="client/app.js")
  body
    block content
